{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".js"],
                "paths": ["src"]
            }
        }
    },
    "rules": {
        "arrow-body-style": "off",
        "indent": ["error", 4, {"SwitchCase": 1}],
        "import/prefer-default-export": "off",
        "prettier/prettier": ["error"]
    }
}
